html {
    height: 100%;
}

body {
    font-family: "Garamond";
    margin: 0;
    height: 100%;
    color: rgba(41, 35, 35, 1);
}

#app{
    background-color:rgb(165, 164, 164, 0.65);
    height:100%;
}

h1, h2, h3, h4, h5 {
    font-family: 'Arial', Courier, monospace;
    padding: 0;
    margin: 0;
}

h2 {
    text-align: center;
    margin: 3%;
    margin-top:2%;
}

.flex {
    display: flex;
}

.flex-down {
    display: flex;
    flex-direction: column;
}

#app-title {
    align-items: center;
}

#header{
    height: 20px;
    width: 100%; 
    background-color: rgb(14, 117, 52, 0.8); 
}

#text{
    background-color:rgb(56, 158, 170, .65);
    width: 35%;
    min-width: 35%;
    min-height: 400px
}

#chart{
    width: 40%;
    max-height: 400px;
}

#js-chart{
    background-color: white;
}

#source {
    font-size: x-small;
    margin: 0;
}

#slideshow{
    margin-top: 2%;
    margin-bottom: 3%;
}

#contents {
    justify-content: space-around;
    margin-bottom: 5px;
}

#buttons{
    justify-content: center;
}

#back {
    margin-right: 15px;
}

#slide-content {
    margin: 3%;
    white-space: pre-line;
}

.prog-container{
    justify-content: center;
    margin-top:5px;
}