html {
    height: 100%;
}
body {
    font-family: "Garamond";
    margin: 0;
    height: 100%;
    color: rgba(41, 35, 35, 1);
}

#app{
    background-color:rgb(165, 164, 164);
    height:100%;
}

h1, h2, h3, h4, h5 {
    padding: 0;
    margin: 0;
}

.flex {
    display: flex;
}

.flex-down {
    display: flex;
    flex-direction: column;
}

#app-title {
    align-items: center;
}

#header{
    height: 20px;
    width: 100%; 
    background-color: #0e7534; 
}

#text{
    background-color:#389eaa;
    width: 35%;
    min-width: 35%;
    min-height: 400px
}

#chart{
    width: 40%;
    max-height: 400px;
}

#js-chart{
    background-color: white;
}

#slideshow{
    margin-top: 2%;
    margin-bottom: 3%;
}

#contents {
    justify-content: space-around;
    margin-bottom: 5px;
}

#buttons{
    justify-content: center;
}

#back {
    margin-right: 15px;
}

#slide-content {
    margin: 0 0 0 3px;
    white-space: pre-line;
}

.prog-container{
    justify-content: center;
    margin-top:5px;
}